/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-family: 'Fivo Sans';
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.subtitle_text {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin-top: 0;
  margin-bottom: 50px;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.line {
  border-top: 1px solid #EAEFF5;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.section {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-bottom: 60px;
  }
}
.section--m-t-370 {
  margin-top: 150px;
}
@media (min-width: 1800px) {
  .section--m-t-370 {
    margin-top: 370px;
  }
}
.section--m-t-260 {
  margin-top: 260px;
}
.section--m-t-160 {
  margin-top: 160px;
}
@media (min-width: 1500px) {
  .section--m-t-160 {
    margin-top: 260px;
  }
}
.section--m-b-200 {
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .section--m-b-200 {
    margin-bottom: 260px;
  }
}
.section--m-t-0 {
  margin-top: 0px;
}
.section--bg-branch {
  background-repeat: no-repeat;
  background-position: left 65%;
}
@media (min-width: 1500px) {
  .section--bg-branch {
    background-image: url("../img/images/branch.png");
  }
}
.section--bg-water {
  background-repeat: no-repeat;
  background-position: right 10%;
}
@media (min-width: 1700px) {
  .section--bg-water {
    background-image: url("../img/images/water1.png");
  }
}
.section--bg-water-other {
  background-repeat: no-repeat;
  background-position: left 40%;
}
@media (min-width: 1200px) {
  .section--bg-water-other {
    margin-bottom: 200px;
  }
}
@media (min-width: 1700px) {
  .section--bg-water-other {
    background-image: url("../img/images/water.png");
  }
}
.section--bg-water-another {
  background-repeat: no-repeat;
  background-position: right 55%;
}
@media (min-width: 1700px) {
  .section--bg-water-another {
    background-image: url("../img/images/water2.png");
  }
}
.section--bg-branch-other {
  background-repeat: no-repeat;
  background-position: right 67%;
}
@media (min-width: 1500px) {
  .section--bg-branch-other {
    background-image: url("../img/images/branch2.png");
  }
}
.wrapper-top {
  padding-top: 15px;
  width: 100%;
  background-image: url('../img/images/top.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper-down {
  width: 100%;
  height: auto;
  background-image: url('../img/images/bg-down.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 1200px) {
  .wrapper-down {
    height: 1562px;
  }
}
.wrapper-top::after {
  content: "";
  display: table;
  clear: both;
}
.container__header--menu::after {
  content: "";
  display: table;
  clear: both;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.container__benefit::after {
  content: "";
  display: table;
  clear: both;
}
.container__description::after {
  content: "";
  display: table;
  clear: both;
}
.container__information::after {
  content: "";
  display: table;
  clear: both;
}
.container__prices::after {
  content: "";
  display: table;
  clear: both;
}
.container__footer::after {
  content: "";
  display: table;
  clear: both;
}
.header__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header__button-wrapper {
    width: 520px;
    flex-direction: row;
    justify-content: space-around;
  }
}
.header__button {
  display: inline-block;
  background-color: transparent;
  font-weight: 300;
  color: #ff6a6d;
  font-size: 20px;
  padding: 22px 76px 20px;
  border: 1px solid #ff6a6d;
  border-radius: 50px;
  margin-right: 20px;
  text-decoration: none;
  margin-top: -4px;
  cursor: pointer;
}
.header__button:hover {
  color: #fff;
  background-color: #e1138c;
  box-shadow: 0px 22px 23.52px 0.48px rgba(215, 114, 157, 0.55);
  border: 1px solid #d7729d;
  text-decoration: none;
  cursor: pointer;
}
.header__button--primary {
  color: #fff;
  background-color: #ff6a6d;
  box-shadow: -8px 10px 23.52px 0.48px rgba(226, 88, 91, 0.55);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .header__button--primary {
    margin-bottom: 0;
  }
}
.button--blue {
  display: inline-block;
  background-color: #8ec7fb;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  padding: 27px 36px 25px;
  border-radius: 38px;
  margin-right: 20px;
  text-decoration: none;
  margin-top: 40px;
  background-image: -moz-linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  background-image: -webkit-linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  background-image: -ms-linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  box-shadow: -15px 15px 23.52px 0.48px rgba(95, 206, 244, 0.3);
}
.button--blue:hover,
.button--blue:active,
.button--blue:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.button--coral {
  display: inline-block;
  background-color: #ff6a6d;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  padding: 27px 36px 25px;
  border-radius: 38px;
  margin-right: 20px;
  text-decoration: none;
  margin-top: 40px;
  box-shadow: -15px 15px 23.52px 0.48px rgba(226, 88, 91, 0.29);
}
.button--coral:hover,
.button--coral:active,
.button--coral:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.heading {
  max-width: 700px;
  margin: 0 auto;
}
.heading-title {
  font-size: 32px;
  line-height: 60px;
  color: #3b3838;
  font-weight: 700;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .heading-title {
    font-size: 50px;
  }
}
.heading-subtitle {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #667d7d;
  margin-bottom: 55px;
}
.heading-text p {
  max-width: auto;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #667d7d;
}
@media (min-width: 1800px) {
  .heading-text p {
    max-width: 475px;
  }
}
.title {
  color: #3b3838;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
}
.text {
  color: #667d7d;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.heading-by {
  color: #667d7d;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
}
.heading--information__read-more {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  font-style: italic;
  color: #3cbef1;
  margin-left: 15px;
  margin-right: 15px;
}
.amount {
  font-size: 150px;
  line-height: 29px;
  font-weight: 400;
  color: #3b3838;
}
.sign {
  font-size: 48px;
  line-height: 29px;
  font-weight: 400;
  color: #3b3838;
  vertical-align: 85px;
  margin-right: 10px;
}
.period {
  font-size: 30px;
  line-height: 29px;
  font-weight: 400;
  color: #3b3838;
}
.package {
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  padding-top: 34px;
  padding-bottom: 47px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 80px;
}
.package.last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .package {
    margin-bottom: 50px;
  }
}
.package--smaller1 {
  height: 700px;
  box-shadow: -15px 30px 35px 0px rgba(255, 106, 109, 0.19);
  margin-top: 60px;
}
@media (min-width: 1500px) {
  .package--smaller1 {
    height: 700px;
  }
}
.package--smaller2 {
  height: 700px;
  box-shadow: inset 20px 0px 35px 0px rgba(255, 106, 109, 0.22);
  margin-top: 60px;
}
@media (min-width: 1500px) {
  .package--smaller2 {
    height: 700px;
  }
}
.package--bigger {
  margin-top: 20px;
  background-image: -moz-linear-gradient(top, #ff6a6d 15%, #ffffff 15%);
  background-image: -webkit-linear-gradient(top, #ff6a6d 15%, #ffffff 15%);
  background-image: -ms-linear-gradient(top, #ff6a6d 15%, #ffffff 15%);
  box-shadow: 20px 37px 80px 50px rgba(255, 106, 109, 0.19);
}
@media (min-width: 1500px) {
  .package--bigger {
    height: 775px;
  }
}
.package__type {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fbfcfc;
  margin-top: 8px;
  text-transform: uppercase;
}
.package__type2 {
  font-size: 30px;
  line-height: 29px;
  font-weight: 700;
  color: #3b3838;
  margin-top: 45px;
}
.package__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #242526;
  margin-top: 65px;
  margin-bottom: 24px;
}
.package__period {
  color: #3b3838;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  font-style: italic;
}
.package__benefits {
  color: #3b3838;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 40px;
}
.package__benefits ul {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
}
.package__benefits ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  text-align: left;
}
.package__benefits ul li:before {
  content: "";
  width: 38px;
  height: 38px;
  background-image: url("../img/images/ok-blue.png");
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
  margin-right: 30px;
}
.package__benefits ul.coral-icon {
  margin: 0;
  margin-top: 85px;
  padding: 0;
  list-style-type: none;
}
.package__benefits ul.coral-icon li {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  text-align: left;
}
.package__benefits ul.coral-icon li:before {
  content: "";
  width: 38px;
  height: 38px;
  background-image: url("../img/images/ok-red.png");
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
  margin-right: 30px;
}
.package__period--m-t {
  margin-top: 45px;
}
.header {
  position: relative;
}
.header-menu-wrapper {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .header-menu-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .header-menu-wrapper {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .header-menu-wrapper {
    width: 1100px;
  }
}
@media (min-width: 1500px) {
  .header-menu-wrapper {
    width: 1300px;
  }
}
@media (min-width: 1800px) {
  .header-menu-wrapper {
    width: 1420px;
  }
}
.header__logo {
  float: left;
  display: inline-block;
  width: 135px;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
}
.header__logo a {
  color: #ff6a6d;
  cursor: pointer;
  text-decoration: none;
}
.menu {
  display: inline-block;
  float: right;
  width: 745px;
  list-style-type: none;
  text-decoration: none;
  text-align: right;
  display: none;
}
@media (min-width: 992px) {
  .menu {
    display: block;
  }
}
.menu__link {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #1c2056;
  text-decoration: none;
  margin-right: 75px;
  cursor: pointer;
}
.menu__link:last-child {
  margin-right: 0px;
}
.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  font-weight: 800;
  text-decoration: none;
}
.menu__link--button {
  display: inline-block;
  background-color: #ff6a6d;
  font-family: 'Fivo Sans';
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  padding: 5px 52px 5px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: -4px;
  cursor: pointer;
}
.menu__link--button:last-child {
  margin-right: 0px;
}
.menu__link--button:hover {
  color: #fff;
  background-color: #e1138c;
  text-decoration: none;
}
.menu__link--current {
  color: #ff6a6d;
  font-weight: 800;
  font-size: 18px;
  line-height: 36px;
  margin-right: 80px;
  text-decoration: none;
  cursor: pointer;
}
.menu__link--current:hover,
.menu__link--current:active,
.menu__link--current:focus {
  color: #ff6a6d;
  font-weight: 800;
  text-decoration: none;
}
.container__header--text {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 140px;
}
.content {
  max-width: auto;
}
@media (min-width: 1800px) {
  .content {
    max-width: 570px;
  }
}
.container__benefit {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1920px) {
  .container__benefit {
    width: 1700px;
  }
}
.benefit-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .benefit-block-wrapper {
    width: 850px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .benefit-block-wrapper {
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1500px) {
  .benefit-block-wrapper {
    width: 1300px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.benefit-block {
  max-width: 280px;
}
.benefit-block__img {
  margin-top: 50px;
  margin-bottom: 70px;
}
.description {
  max-width: 1550px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}
.heading {
  margin-bottom: 80px;
}
.description__img {
  max-width: 701px;
  display: none;
}
@media (min-width: 1200px) {
  .description__img {
    display: block;
  }
}
.description-list__title {
  color: #3b3838;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.description-list__text {
  color: #667d7d;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 55px;
}
.description__service {
  max-width: 570px;
}
.description__service ul {
  padding-left: 90px;
  list-style-type: none;
}
.description__service ul li:before {
  content: "";
  width: 31px;
  height: 24px;
  background-image: url("../img/images/ceklist.png");
  background-repeat: no-repeat;
  background-position: left 0px;
  display: inline-block;
  position: absolute;
  transform: translateX(-100%);
  margin-left: -20px;
}
.information {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.information__content {
  max-width: 570px;
}
.information__content-2 {
  max-width: 570px;
}
@media (min-width: 1200px) {
  .information__content-2 {
    max-width: 700px;
  }
}
.information-title {
  font-size: 32px;
  line-height: 60px;
  color: #3b3838;
  font-weight: 700;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .information-title {
    font-size: 50px;
  }
}
.information-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #667d7d;
  margin-bottom: 55px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .information-text {
    margin-left: 55px;
    margin-right: 115px;
  }
}
.information-text-2 {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #667d7d;
  margin-bottom: 55px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .information-text-2 {
    margin-left: 120px;
  }
}
.information__img {
  max-width: 661px;
  display: none;
  text-align: right;
}
@media (min-width: 1200px) {
  .information__img {
    display: block;
  }
}
@media (min-width: 1200px) {
  .information__read-more {
    margin-left: 40px;
    margin-right: 115px;
  }
}
.information__read-more-2 {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .information__read-more-2 {
    margin-left: 105px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:active,
a:focus {
  color: #0f94c8;
  font-weight: 800;
  font-style: italic;
  text-decoration: none;
}
.indent {
  text-indent: 50px;
}
.footer {
  margin-left: 50px;
  margin-right: 50px;
}
@media (min-width: 1600px) {
  .footer {
    width: 1100px;
    margin-left: 500px;
    margin-right: auto;
  }
}
.footer__nav {
  list-style-type: none;
  padding: 0;
}
.footer__title {
  color: #6C6C6C;
  font-family: 'Fivo Sans Modern';
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  color: #6C6C6C;
}
.footer__nav li {
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0;
}
.footer__nav a {
  color: #6C6C6C;
  text-decoration: none;
}
.footer__nav a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.rectangle-absolute {
  background: url('../img/images/rectangle-down.png');
  position: absolute;
  width: 1426px;
  height: 568px;
  display: none;
  bottom: 0px;
  left: 320px;
}
@media (min-width: 1920px) {
  .rectangle-absolute {
    display: block;
  }
}
.copyright {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin-top: 45px;
}
.rectangle1 {
  background: url('../img/images/rectangle1.png');
  position: absolute;
  width: 96px;
  height: 75px;
  display: none;
  bottom: 630px;
  left: 320px;
}
@media (min-width: 1920px) {
  .rectangle1 {
    display: block;
  }
}
.rectangle2 {
  background: url('../img/images/rectangle2.png');
  position: absolute;
  width: 67px;
  height: 63px;
  display: none;
  bottom: 730px;
  left: 700px;
}
@media (min-width: 1920px) {
  .rectangle2 {
    display: block;
  }
}
.rectangle3 {
  background: url('../img/images/rectangle3.png');
  position: absolute;
  width: 67px;
  height: 63px;
  display: none;
  bottom: 700px;
  right: 540px;
}
@media (min-width: 1920px) {
  .rectangle3 {
    display: block;
  }
}
.rectangle4 {
  background: url('../img/images/rectangle4.png');
  position: absolute;
  width: 67px;
  height: 63px;
  display: none;
  bottom: 1090px;
  right: 80px;
}
@media (min-width: 1920px) {
  .rectangle4 {
    display: block;
  }
}
.rectangle5 {
  background: url('../img/images/rectangle5.png');
  position: absolute;
  width: 49px;
  height: 63px;
  display: none;
  bottom: 1512px;
  right: 585px;
}
@media (min-width: 1920px) {
  .rectangle5 {
    display: block;
  }
}
.rectangle6 {
  background: url('../img/images/rectangle6.png');
  position: absolute;
  width: 49px;
  height: 63px;
  display: none;
  bottom: 1512px;
  left: 760px;
}
@media (min-width: 1920px) {
  .rectangle6 {
    display: block;
  }
}
.rectangle7 {
  background: url('../img/images/rectangle7.png');
  position: absolute;
  width: 49px;
  height: 63px;
  display: none;
  bottom: 1192px;
  left: 160px;
}
@media (min-width: 1920px) {
  .rectangle7 {
    display: block;
  }
}
