.menu--button{
  display: inline-block;
  background-color: @coralHeading;
  font-family: 'Fivo Sans';
  font-weight: 400;
  color:#fff;
  font-size: 18px;
  padding: 12px 46px 12px;
  border-radius: 50px;
    margin-left: 50px;
    text-decoration: none;
    margin-top: -4px;
}
.menu--button:hover{
  color:#fff;
  background-color: #e1138c;
  text-decoration: none;
}

.header-button {
    padding-top: 40px;
    
}

.header-button__on {
 display: inline-block;
  background-color: transparent;
  font-family: 'Fivo Sans';
  font-weight: 400;
  color: @coralHeading;
  font-size: 18px;
  padding: 12px 46px 12px;
    border: 1px solid @coralHeading;
  border-radius: 50px;
    margin-left: 50px;
    text-decoration: none;
    margin-top: -4px;
}
.header-button__on:hover{
  color:#fff;
  background-color: @coralHeading;
    box-shadow: 0px 22px 23.52px 0.48px rgba(226, 88, 91, 1);
  text-decoration: none;   
}
