.heading-title {
    font-size: 50px;
	line-height: 60px;
    color: #3b3838;
    font-weight: 700;
    margin-bottom: 40px;
}

.heading-subtitle {
	font-size: 18px;
	line-height: 40px;
    font-weight: 300;
	color: #667d7d;
}


.heading-title-little {
    color: #3b3838;
    font-size: 24px;
    line-height: 60px;
    font-weight: 700;
}

.heading-text {
    color: #667d7d;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.heading-by {
    color: #667d7d;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: italic;
}

.heading--information__read-more {
    font-size: 18px;
	line-height: 40px;
    font-weight: 300;
    font-style: italic;
	color: #3cbef1;
    
}

.amount {
    font-size: 150px;
	line-height: 29px;
    font-weight: 400;
    color: #3b3838;
}

.sign {
     font-size: 48px;
	line-height: 29px;
    font-weight: 400;
    color: #3b3838;
    vertical-align: 85px;
    margin-right: 10px;
}

.period {
     font-size: 30px;
	line-height: 29px;
    font-weight: 400;
    color: #3b3838;
}