.container__benefit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 1920px) {
      width: 1700px;  
    }
}

.benefit-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
//    width: 1300px;
    margin: 0 auto;
    
     @media (min-width: 992px) {
      width: 850px;
      flex-direction: row;
      justify-content: space-between;
    }
    
    
    @media (min-width: 1200px) {
      width: 1000px; 
      flex-direction: row;
        justify-content: space-between;
    }
    
    @media (min-width: 1500px) {
      width: 1300px;
      flex-direction: row;
        justify-content: space-between;
    }
    
}

.benefit-block {
    max-width: 280px;
    //    margin-right: 100px;
}


.benefit-block__img {
    margin-top: 50px;
    margin-bottom: 70px;
}
