.description {
    max-width: 1550px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

.heading {
    margin-bottom: 80px;
}

.description__img {
    max-width: 701px;
    display: none;
    
    @media (min-width: 1200px) {
        display: block;
    }
}

.description-list__title {
    color: #3b3838;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
}

.description-list__text {
    color: #667d7d;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 55px;
}
.description__service {
    max-width: 570px;
    
    ul {
        padding-left: 90px;
         list-style-type: none;
    
    li {
        
            &:before {
				content: "";
				width: 31px;
				height: 24px;
				background-image: url("../img/images/ceklist.png");
				background-repeat: no-repeat;
				background-position: left 0px;
				display: inline-block;
                position: absolute;
                transform: translateX(-100%);
                margin-left: -20px;
			}
    }
  }
}

